API_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000

AUTH_SECRET="<Some random value>"
AUTH_GOOGLE_ID="<Google client ID>"
AUTH_GOOGLE_SECRET="<Google client secret>"

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="<Stripe publishable key>"
STRIPE_SECRET_KEY="<Stripe secret key>"
STRIPE_WEBHOOK_SECRET="<Stripe webhook signing secret>"
