API_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000

AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="<Your Cloud Name>"
NEXT_PUBLIC_CLOUDINARY_API_KEY="<Your API Key>"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="<Your upload preset name>"
CLOUDINARY_API_SECRET="<Your API Secret>"
